package templs

templ Base(){
    <html>
        <head>
        <link href="/style/output.css" rel="stylesheet"/>
        </head>
        <body class="bg-black">
        Based
        { children...}
        </body>
    </html>
}
